{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <title>Pandemic Planner</title>
</head>

<!-- NavBar -->
{% if not request.session.username %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
<a id="brand" class="navbar-brand font-weight-bold" href="{% url 'index' %}"> Pandemic Planner</a>
<div id="navbarNav" class="ml-auto">
  <ul class="navbar-nav ">
    <li>
      <a href="{% url 'signup' %}">
        <button type="button" class="btn btn-lg btn-default navbar-btn cyan-bg off-white-text mr-2">Sign Up</button>
      </a>
    </li>
    <li>
      <a href="{% url 'login' %}">
       <button type="button" class="btn btn-lg btn-default navbar-btn off-white-bg cyan-text mr-2">Log In</button>
      </a>
    </li>
  </ul>
</div>
</nav>

{% else %} 

<nav class="navbar navbar-expand-lg navbar-light bg-white">
<a id="brand" class="navbar-brand font-weight-bold" href="{% url 'index' %}">Pandemic Planner</a>
<div id="navbarNav" class="ml-auto">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link charcoal-color-text" href="{% url 'calendar' %}">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link charcoal-color-text" href="{% url 'calendar' %}">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link charcoal-color-text" href="{% url 'create' %}">Add Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link charcoal-color-text" href="{% url 'logout' %}">Log Out</a>
    </li>
  </ul>
</div>
</nav>

{% endif %}
<!-- End NavBar -->

<!-- Non-Base Page Html -->
{% block content %}
{% endblock %}
<!-- Non-Base Page Html -->


<!-- Footer -->
<footer class="footer fixed-bottom font-small">
  <div class="text-center py-3">
    <p class="cyan-text">© 2020 Copyright Pandemic Planner</p>
  </div>
</footer>
<!-- Footer -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

{% block script %}
{% endblock %}




</html>
