{% extends 'pandemic_app/base.html'%}
{% load static %}


{% block content %}
<div class="container pt-5 pl-5 pr-5">
  <div class="jumbotron">
    <h1 class="cyan-text">Welcome to Pandemic Planner!</h1>
    <p class="charcoal-text">Use our planner to organize everything related to your courses! Unlike Brightspace, we don't clutter or hide the tasks you need to 
    complete your courses. All your tasks will be put into one place so that you can quickly find what you need to do.</p>
  </div>
</div>
{% endblock %}