<html>
<body>
    <p>username if logged in: {{ username }}</p>
    <form name = "form" action = "" method = "POST">{% csrf_token %}
        <input type = "text" name = "username" placeholder="Enter your username"/>
        <br>
        <input type = "password" name = "password" placeholder = "password"/>
        <br>
        <button type="submit" value="Login"></button>
    </form>
<button onclick="location.href = '{% url 'logout'%}'">Logout</button>
<button onclick="location.href = '{% url 'create_assign'%}'">Add Events!</button>
</body>

</html>